@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('https://dmarket.com/blog/best-dota2-wallpapers/dota_wallpaper15_hue6cd94e90bbb3660a51016221345d1e8_798145_1920x1080_resize_q100_lanczos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#userPhoto {
    width: 18%;
    height: 25%;
    display: block;
    margin: 10px auto;
    border-radius: 20%;
}

#userName {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0 auto;
}

#userName p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 5px;
    /* text-transform: none; */
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.link {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;

}

.link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #8a8484;
    border: none;
}
.nav__icon{
    font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
    #userPhoto {
        width: 18%;
        height: 25%;
    }
    body{
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
    #userPhoto {
/*         margin-top: 20px; */
        width: 18%;
        height: 25%;
    }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    #userPhoto {
        width: 18%;
        height: 25%;
    }
}
